<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/styledetails.css"/>
<head>
    <meta charset="UTF-8">
    <title>Detalhes</title>
</head>
<body>
<table id = "tabela_details" class="table">
    <thead>
    <tr>
        <th scope="col">VALOR</th>
        <th scope="col">ANO</th>
        <th scope="col">MODELO</th>
        <th scope="col">FABRICANTE</th>

    </tr>
    </thead>
    <tbody>
    <th>{{item.valor}}</th>
    <th>{{item.ano}}</th>
    <th>{{item.modelo}}</th>
    <th>{{item.fabricante}}</th>

    </tbody>
</table>
</body>
</html>